@import "main.css";

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    
    color: white;

    padding: var(--pad-y) calc(2 * var(--pad-x));
}

main > a {
    color: var(--link-color);
    text-decoration: none;
}