@import "main.css";

h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
}





article {
    display: flow-root;
    margin: var(--pad-y) calc(2 *var(--pad-x));
    color: white;
}

article picture {
    float: inline-start;
    margin: 0 .75rem .5rem 0;
}

article img {
    border-radius: var(--border-radius);
}

article h2 {
    font-size: 2rem;
}

article b {
    font-size: 1.2rem;
}

article p {
    font-size: 1.2rem;
}

article a {
    text-decoration: none;
    color: var(--link-color);
}

article a:hover {
    color: var(--link-color-hover);
}




form {
    display: flex;
    justify-content: center;
    gap: 3ch;
    min-height: 2rem;
    margin: 1.5rem;
}

form input[type="text"] {
    min-width: 60vw;
    font-size: 1.25rem;
    border-radius: var(--border-radius);
    padding: 0.5rem;
}

form select {
    text-align: center;
    background-color: var(--card-color);
    color: white;
    font-size: 1.25rem;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    width: 20ch;
}

form input[type="submit"] {
    text-align: center;
    background-color: var(--card-color);
    color: white;
    font-size: 1.25rem;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    width: 15ch;
}





noscript {
    display: flex;
    align-items: center;
    flex-direction: column;

    color: red;
}



@media (max-width: 1000px) {
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1ch;
    }

    article picture {
        float: none;
    }
}

@media (max-width: 1300px) {
    form {
        flex-direction: column;
    }

    form > * {
        width: auto !important;
    }
}